@page "/debt"

<head>
    <link rel="stylesheet" href="css/Debt.css" />
</head>

<h1><b>Debts</b></h1>

<div class="mt-5">
    <h2><b>Remaining Debts</b></h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Tag</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Groceries</td>
                    <td>Npr. 2,300</td>
                    <td>2024/04/30</td>
                    <td>Debt</td>
                    <td>Kumari Bank</td>
                    <td>pending</td>
                    <td>
                        <form method="post" onsubmit="handleSubmit(event)">
                            <button type="submit" class="update-button">Clear debt</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mt-5">
    <h2><b>All Debts</b></h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Cleared Date</th>
                    <th>Source</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            @if (debts.Any())
            {
                @foreach (var debt in debts)
                {
                    <tr>
                        <td>@debt.Id</td>
                        <td>@debt.Title</td>
                        <td>Npr. @debt.Amount</td>
                        <td>@debt.DueDate</td>
                        <td>cleared date</td>
                        <td>@debt.Source</td>
                        <td>@debt.Status</td>
                    </tr>
                }
            }  else
            {
                <tr>
                    <td colspan="7">No Debts found.</td>
                </tr>
            }

           
            </tbody>
        </table>
    </div>
</div>
@code
{
    private List<Models.Debt> debts = new();

    protected override void OnInitialized()
    {
        try
        {
            debts = DebtService.GetAllDebts(); 
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error initializing data: {ex.Message}");
        }
    }

}
