@page "/debt"

<head>
    <link rel="stylesheet" href="css/Debt.css" />
</head>

<h1><b>Debts</b></h1>
<div class="mt-5">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Cleared Date</th>
                <th>Source</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            @if (debts.Any())
            {
                @foreach (var debt in debts)
                {
                    <tr>
                        <td>@debt.Id</td>
                        <td>@debt.Title</td>
                        <td>@GlobalState.CurrentUser?.Pref_currency  @debt.Amount</td>
                        <td>@debt.DueDate</td>
                        <td>@debt.ClearedDate</td>
                        <td>@debt.Source</td>
                        <td>
                            <span class="@((debt.Status == "Pending") ? "text-danger" : "text-success")">
                                @debt.Status
                            </span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No Debts found.</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code
{
    private List<Models.Debt> debts = new();

    protected override void OnInitialized()
    {
        try
        {
            debts = DebtService.GetAllDebts(); 
        }
        catch (Exception ex)
        {
        }
    }
}